# Python bytecode and cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# VS Code settings
.vscode/

# macOS / Windows system files
.DS_Store
Thumbs.db

# Log files
*.log

# Environment / secret files
.env

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Build and dist folders
build/
dist/
*.egg-info/

# Compiled files (just in case)
*.so
*.dll
*.exe

# PyInstaller temp files
*.spec

